<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>427632670794-s0pbd5uit8jchrpphf6fm9qij3670a2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427632670794-s0pbd5uit8jchrpphf6fm9qij3670a2q</string>
	<key>API_KEY</key>
	<string>AIzaSyBlkKcNZCJlsSYlTORUIVD0ATpFQL3GKTU</string>
	<key>GCM_SENDER_ID</key>
	<string>427632670794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.androidhipster.competencyMatrix</string>
	<key>PROJECT_ID</key>
	<string>competencymatrix-93fc4</string>
	<key>STORAGE_BUCKET</key>
	<string>competencymatrix-93fc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427632670794:ios:1de1ddcecd6a4d73</string>
	<key>DATABASE_URL</key>
	<string>https://competencymatrix-93fc4.firebaseio.com</string>
</dict>
</plist>